<a href="https://colab.research.google.com/github/temimujidat/Vibeoo/blob/main/recommended_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymongo
#!pip install implicit
!pip install dnspython==2.0.0

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.1)
Collecting dnspython==2.0.0
  Downloading dnspython-2.0.0-py3-none-any.whl (208 kB)
     |████████████████████████████████| 208 kB 28.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.0.0

In [ ]:
import pandas as pd
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
#from sklearn.externals import joblib
import numpy as np

from bson.objectid import ObjectId
from datetime import datetime

import pymongo as pm
import requests
import pprint
import dns
from pymongo import MongoClient

In [ ]:
#import ast
#import re

In [ ]:
url = 'mongodb+srv://vibeoo-test:qcBLe2m4XK31CHTU@vibeoo-cluster.ls2pe.mongodb.net/vibeoo-test?retryWrites=true&w=majority'

In [ ]:
client = MongoClient(url)

In [ ]:
db = client['test']
db

Database(MongoClient(host=['vibeoo-cluster-shard-00-00.ls2pe.mongodb.net:27017', 'vibeoo-cluster-shard-00-01.ls2pe.mongodb.net:27017', 'vibeoo-cluster-shard-00-02.ls2pe.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-z8a2pv-shard-0', ssl=True), 'test')

In [ ]:
client.list_database_names()

['vibeoo-test', 'admin', 'local']

In [ ]:
database_name = 'vibeoo-test'

In [ ]:
database = client[database_name]

In [ ]:
collections = database.collection_names(include_system_collections=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

In [ ]:
for collect in collections:
  print(collect)

users
pendingUsers
shows
usersPasswords
pendingHosts
admins
hosts
daUsersPlaylists
episodes

In [ ]:
users = database.get_collection("users")
pendingUsers = database.get_collection("pendingUsers")
shows = database.get_collection("shows")
hosts = database.get_collection("hosts")
episodes = database.get_collection("episodes")
playlist = database.get_collection("daUsersPlaylists")

In [ ]:
users_pd = pd.DataFrame(list(users.find()))
pendingusers_pd = pd.DataFrame(list(pendingUsers.find()))
shows_pd = pd.DataFrame(list(shows.find()))
hosts_pd = pd.DataFrame(list(hosts.find()))
episode_pd = pd.DataFrame(list(episodes.find()))
playlist_pd = pd.DataFrame(list(playlist.find()))

In [ ]:
episode_pd.head()

                        _id        episodeTitle  ... createdAt __v
0  60d055d2a5a5b1893876e047  Mirror on the Wall  ...       NaT NaN
1  60d05839a5a5b1893876e048  Mirror on the Door  ...       NaT NaN
2  60d05908a5a5b1893876e049   Mirror on the Car  ...       NaT NaN
3  60d059fda5a5b1893876e04a      Football Night  ...       NaT NaN
4  60d05afba5a5b1893876e04b           Ucl Final  ...       NaT NaN

[5 rows x 14 columns]

In [ ]:
#generating an id column
users_pd['userId'] = [i+1 for i in range(0,users_pd.shape[0])]
shows_pd['showsId'] = [i+1 for i in range(0,shows_pd.shape[0])]
episode_pd['episodeId'] = [i+1 for i in range(0,episode_pd.shape[0])]
playlist_pd['playlistId'] = [i+1 for i in range(0,playlist_pd.shape[0])]

In [ ]:
#users_pd = users_pd.rename(columns= {'_id':'olduserId'}) 
#episode_pd = episode_pd.rename(columns= {'_id':'oldepisodeId'})

In [ ]:
episode_pd.head()

                        _id        episodeTitle  ... __v episodeId
0  60d055d2a5a5b1893876e047  Mirror on the Wall  ... NaN         1
1  60d05839a5a5b1893876e048  Mirror on the Door  ... NaN         2
2  60d05908a5a5b1893876e049   Mirror on the Car  ... NaN         3
3  60d059fda5a5b1893876e04a      Football Night  ... NaN         4
4  60d05afba5a5b1893876e04b           Ucl Final  ... NaN         5

[5 rows x 15 columns]

In [ ]:
playlist_pd.isnull().sum()

_id           0
userId        0
episodeId     0
createdAt     0
updatedAt     0
__v           0
playlistId    0
dtype: int64

In [ ]:
playlist_pd.to_csv('playlists.csv', index=False)

In [ ]:
users_pd

                         _id  ... userId
0   60ce054058c2ba1834595ce4  ...      1
1   60d8ce661260c8000866fdc9  ...      2
2   60daf7b65fe67600080cc3fa  ...      3
3   60eda2427258312d706d2574  ...      4
4   60ffb220dc9e4e000882e24a  ...      5
5   6113e7abf7ce510009f220c4  ...      6
6   6116730423bb220008f99327  ...      7
7   612648459c4c85000843fa44  ...      8
8   6126489f9c4c85000843fa55  ...      9
9   61699018b57bee00093d2ebc  ...     10
10  616991e4b57bee00093d2edf  ...     11
11  616d5910eb4dba00087a83b8  ...     12
12  616d59fefb022800084ad172  ...     13

[13 rows x 15 columns]

In [ ]:
from google.colab import files

upload = files.upload()

Saving playerlists.csv to playerlists (1).csv

In [ ]:
playlist = pd.read_csv('playerlists.csv')

In [ ]:
playlist.shape

(24, 4)

In [ ]:
playlist.describe()

       playlist_id  episode_id    user_id
count    24.000000   24.000000  24.000000
mean     12.500000   20.666667   7.250000
std       7.071068   14.008279   2.574963
min       1.000000    2.000000   1.000000
25%       6.750000    5.000000   5.500000
50%      12.500000   20.500000   8.000000
75%      18.250000   34.250000   9.000000
max      24.000000   39.000000  11.000000

In [ ]:
playlist[playlist["user_id"]==9]

    playlist_id  episode_id  user_id createdAt
0             1           3        9   42:30.2
1             2          35        9   43:08.2
2             3          31        9   48:46.7
3             4          32        9   48:59.3
5             6          34        9   50:47.4
6             7          33        9   51:32.8
7             8           4        9   52:48.5
8             9           5        9   54:40.2
9            10          26        9   54:54.7
10           11          23        9   00:36.9

In [ ]:
playlist["createdAt"] = 1

In [ ]:
playlist = playlist.rename({"createdAt":"rating"}, axis = "columns")

In [ ]:
merged = playlist.merge(episode_pd, left_on="episode_id", right_on="episodeId")

In [ ]:
merged = merged[["user_id", "episodeTitle", "rating"]]

In [ ]:
merged.head()

   user_id                    episodeTitle  rating
0        9               Mirror on the Car       1
1        7               Mirror on the Car       1
2        9  davido or wizkid for president       1
3        4  davido or wizkid for president       1
4        9             the power of vision       1

In [ ]:
piv = merged.pivot_table(index="user_id", columns="episodeTitle", values="rating", aggfunc=sum)
#tpiv = piv
piv

episodeTitle  Football Night  ...  why not exercise more often
user_id                       ...
1                        NaN  ...                          1.0
4                        NaN  ...                          NaN
6                        NaN  ...                          NaN
7                        1.0  ...                          NaN
9                        1.0  ...                          NaN
11                       NaN  ...                          1.0

[6 rows x 19 columns]

In [ ]:
piv.fillna(0, inplace=True)
piv = piv.T
piv.head()

user_id              1    4    6    7    9    11
episodeTitle
Football Night      0.0  0.0  0.0  1.0  1.0  0.0
Mirror on the Car   0.0  0.0  0.0  1.0  1.0  0.0
Mirror on the Door  0.0  0.0  1.0  0.0  0.0  0.0
Powerhouses Meet    0.0  1.0  0.0  0.0  0.0  0.0
Ucl Final           0.0  0.0  0.0  1.0  1.0  0.0

In [ ]:
piv = piv.loc[:, (piv != 0).any(axis=0)]
piv.shape

(19, 6)

In [ ]:
import scipy as sp
from scipy.sparse import csr_matrix
import operator
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
import random
#import implicit

In [ ]:
piv_sparse = sp.sparse.csr_matrix(piv.values)
piv.reset_index(inplace=True)

In [ ]:
episode_similarity = (piv_sparse)
user_similarity = cosine_similarity(piv_sparse.T)

In [ ]:
episode_sim_df = pd.DataFrame(episode_similarity, index=piv.index, columns=piv.index)
#user_sim_df = pd.DataFrame(user_similarity, index=piv.columns, columns=piv.columns)

ValueError: ignored